.footer {
    min-width: var(--footer-width);
    min-height: var(--footer-height);
    background-color: var(--footer-bgColor);
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__info-container {
        min-height: var(--footer-info-container-height);
        margin-top: var(--footer-info-container-marginTop);
        display: flex;
        flex-direction: column;
        row-gap: var(--footer-info-container-rowGap);

        &-phone-number,
        &-email,
        &-addres {
            font-size: var(--footer-info-container-info-fontSize);
            color: var(--footer-info-container-info-fontColor);
            line-height: var(--footer-info-container-info-lineHeight);
        }
        &-addres {
            color: var(--footer-info-container-addres-fontColor);
        }
    }
    &__socials-title {
        color: white;
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 20px;
    }

    &__socials {

        &-container {
            display: flex;
            max-width: fit-content;
            margin: 0 auto;
            column-gap: 10px;

            &-link {
                width: 44px;
                height: 44px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border-radius: 100%;
                background-color: rgba($color: #FFF, $alpha: 0.1);

                & svg {
                    width: 20px;
                    height: 20px;
                    
                    & use {
                        fill: white;
                    }
                }

                &:hover {
                    background-color: #2196F3;
                }
            }
        }
    }

    & .container {
        display: flex;
        column-gap: 40px;
    }
}