.footer {
    min-width: var(--footer-width);
    min-height: var(--footer-height);
    background-color: var(--footer-bgColor);
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__info-container {
        min-height: var(--footer-info-container-height);
        margin-top: var(--footer-info-container-marginTop);
        display: flex;
        flex-direction: column;
        row-gap: var(--footer-info-container-rowGap);

        &-phone-number,
        &-email,
        &-addres {
            font-size: var(--footer-info-container-info-fontSize);
            color: var(--footer-info-container-info-fontColor);
            line-height: var(--footer-info-container-info-lineHeight);
        }
        &-addres {
            color: var(--footer-info-container-addres-fontColor);
        }
    }
}