.footer {
    min-width: var(--footer-width);
    min-height: var(--footer-height);
    background-color: var(--footer-bgColor);
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__info-container {
        min-height: var(--footer-info-container-height);
        margin-top: var(--footer-info-container-marginTop);
        display: flex;
        flex-direction: column;
        row-gap: var(--footer-info-container-rowGap);

        &-phone-number,
        &-email,
        &-addres {
            font-size: var(--footer-info-container-info-fontSize);
            color: var(--footer-info-container-info-fontColor);
            line-height: var(--footer-info-container-info-lineHeight);
        }
        &-addres {
            color: var(--footer-info-container-addres-fontColor);
        }
    }
    &__title {
        color: var(--footer-socials-title-color);
        font-size: var(--footer-socials-title-fontSize);
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        font-weight: var(--footer-socials-title-fontWeight);
        margin-bottom: var(--footer-socials-title-marginBottom);
    }

    &__socials {

        &-container {
            display: flex;
            max-width: fit-content;
            margin: 0 auto;
            column-gap: var(--footer-socials-container-colGap);

            &-link {
                width: var(--footer-socials-container-link-wh);
                height: var(--footer-socials-container-link-wh);
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border-radius: var(--footer-socials-container-link-borderRadius);
                background-color: rgba($color: #FFF, $alpha: 0.1);
                transition-timing-function: var(--transition-timning-function);
                transition: background-color, var(--transition-time);

                & svg {
                    width: var(--footer-socials-container-link-svg-wh);
                    height: var(--footer-socials-container-link-svg-wh);
                    
                    & use {
                        fill: var(--footer-socials-container-link-svg-fill);
                    }
                }

                &:hover {
                    background-color: var(--footer-socials-container-link-svg-hover-bgColor);
                }
            }
        }
    }

    &__advert {
        
        &-form {
            display: flex;
            flex-direction: column;
        }

        &-wrapper {
            display: flex;
            align-items: center;
            column-gap: var(--footer-advert-form-colGap);
        }
        &-input {
            padding: var(--footer-advert-form-input-padding);
            min-width: var(--footer-advert-form-input-minWidth);
            border: var(--footer-advert-form-input-border);
            border-radius: var(--footer-advert-form-input-borderRadius);
            color: white;  
        }
        &-button {
            display: flex;
            align-items: center;
            column-gap: var(--footer-advert-form-button-colGap);
            color: var(--footer-advert-form-button-color);
            padding: var(--footer-advert-form-button-padding);
            background-color: var(--footer-advert-form-button-bgColor);
            border-radius: var(--footer-advert-form-button-borderRadius);
            cursor: pointer;
        }
    }

    & .container {
        display: flex;
        column-gap: 40px;
    }
}