.current-active-page {
    color: #2196F3;

    &::after {
        content: "";
        display: block;
        position: absolute;
        width: var(--header-underscore-width);
        height: var(--header-underscore-height);
        background-color: var(--header-underscore-bgColor);
        border-radius: var(--header-underscore-borderRadius);
        bottom: 0;
    }
}

.header {
    min-width: var(--header-width);
    min-height: var(--header-height);
    background-color: var(--header-bgColor);
    display: flex;
    align-items: center;

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        column-gap: var(--header-nav-colGap);
        height: var(--header-height);

        &-navigation-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-width: var(--header-navigation-list-width);
            column-gap: var(--header-navigation-list-colGap);
            

            &-item-link {
                font-size: var(--header-navigation-list-link-fontSize);
                font-weight: var(--header-navigation-list-link-fontWeight);
                cursor: pointer;
                transition: all 0.3s;
                display: flex;
                flex-direction: column;
                height: var(--header-height);
                justify-content: center;
                position: relative;
                transition-timing-function: var(--transition-timning-function);
                transition: color, var(--transition-time);

                &:hover {
                    color: var(--header-navigation-list-link-hover-fontColor);
                }
            }
        }
    }
    
    &__contacts {
        display: flex;
        align-items: center;
        justify-content: space-around;
        column-gap: var(--header-contacts-colGap);

        &-email,
        &-phone-number {
            color: var(--header-contacts-fontColor);

            display: flex;
            align-items: center;
            column-gap: var(--header-contacts-colGap);

            & svg {
                width: var(--header-contacts-svg-icon-width);
                height: var(--header-contacts-svg-icon-height);
            }
        }

        &-email {
            transition: all 0.3s;
            cursor: pointer;
            transition-timing-function: var(--transition-timning-function);
            transition: color, var(--transition-time);

            &:hover {
                color: var(--header-contacts-email-hover-fontColor);

                & svg {
                    fill: var(--header-contacts-email-hover-fontColor);
                }
            }

            & svg {
                transition-timing-function: var(--transition-timning-function);
                transition: fill, var(--transition-time);
            }
        }
    }
}
.header .container {
    display: flex;
    justify-content: space-between;
}