:root {
    --portfolio-marginTop: 80px;
    --portfolio-marginBottom: 80px;

    --portfolio-filter-colGap: 8px;

    --portfolio-filter-button-fontWeight: 500;
    --portfolio-filter-button-bgColor: #F5F4FA;
    --portfolio-filter-button-borderRadius: 4px;
    --portfolio-filter-button-hover-bgColor: #2196F3;
    --portfolio-filter-button-hover-fontColor: white;
    --portfolio-filter-button-hover-boxShadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
    --portfolio-filter-button-padding: 5px 12px;
    --portfolio-filter-button-lineHeight: calc(26 / 16);

    --portfolio-projects-columnRowGap: 30px;
    --portfolio-projects-width: 100%;
    --portfolio-projects-marginTop: 40px;
    
    --portfolio-projects-card-border: 1px solid #eee;
    --portfolio-projects-card-width: 370px;
    --portfolio-projects-card-height: 404px;
    --portfolio-projects-card-rowGap: 10px;
    --portfolio-projects-card-boxShadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);

    --portfolio-projects-card-text-inner-margin: 10px 10px;

    --portfolio-projects-card-image-width: 100%;

    --portfolio-projects-card-heading-fontSize: 18px;
    --portfolio-projects-card-heading-fontWeight: 700;
    --portfolio-projects-card-heading-letterSpacing: 1.5px;
    --portfolio-projects-card-heading-lineHeight: calc(36 / 18);

    --portfolio-projects-card-type-fontColor: #757575;
    --portfolio-projects-card-type-lineHeight: calc(30 / 16);
}