@import "../global-elements/normalize",
        "../global-elements/reset",
        "../global-elements/global-variables",
        "./variables";

@import "../global-elements/body";

@import "../global-elements/logo";

@import "../global-elements/header",
        "./portfolio-section",
        "../global-elements/footer";