.advantages {
    margin-top: var(--advantages-marginTop);

    &__skill {
        max-width: var(--advantages-skill-maxWidth);

        &-heading {
            color: var(--advantages-skill-heading-fontColor);
            font-size: var(--advantages-skill-heading-fontSize);
            font-weight: var(--advantages-skill-heading-fontWeight);
        }
        &-text {
            color: var(--advantages-skill-text-fontColor);
            font-size: var(--advantages-skill-text-fontSize);
            line-height: var(--advantages-skill-text-lineHeight);
            margin-top: var(--advantages-skill-text-marginTop);
        }
    }
}
.advantages .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}