.clients {
    padding: var(--clients-padding);

    &__icons-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: var(--clients-icons-list-marginTop);

        &-item {
            cursor: pointer;

            svg {
                width: var(--clients-list-item-svg-width);
                height: var(--clients-list-item-svg-height);
                fill: var(--clients-list-item-svg-fill);
                border: var(--clients-list-item-svg-border);
                border-radius: var(--clients-list-item-svg-borderRadius);
            }

            &:hover svg {
                fill: var(--clients-list-item-svg-hover-fill);
                border-color: var(--clients-list-item-svg-hover-fill);
            }
        }
    }

    &__heading {
        font-size: var(--clients-heading-fontSize);
        font-weight: var(--clients-heading-fontWeight);
        text-align: center;
    }
}