.our-team {
    min-height: var(--our-team-height);
    margin-top: var(--our-team-marginTop);
    background-color: var(--our-team-bgColor);
    padding: var(--our-team-padding);

    &__heading {
        font-size: var(--our-team-heading-fontSize);
        font-weight: var(--our-team-heading-fontWeight);
        text-align: center;
    }
    &__teammates-container {
        display: flex;
        align-items: center;
        margin: 0 auto;
        margin-top: var(--our-team-teammates-container-marginTop);
        max-width: var(--our-team-teammates-container-width);
        justify-content: space-between;
    }
    &__teammate-card {
        max-width: var(--our-team-teammates-card-width);
        max-height: var(--our-team-teammates-card-height);
        background-color: var(--our-team-teammates-card-bgColor);
        border-radius: var(--our-team-teammates-card-borderRadius);
        box-shadow: var(--our-team-teammates-card-boxShadow);
        padding-bottom: 30px;
        -webkit-box-shadow: var(--our-team-teammates-card-boxShadow); 

        &-image {
            display: block;
            width: 100%;
            height: auto;
        }
        &-description {
            display: block;
            margin: var(--our-team-teammates-card-description-margin);
            text-align: center;

            &-name {
                font-weight: var(--our-team-teammates-card-description-name-fontWeight);
                color: var(--our-team-teammates-card-description-name-fontColor);
            }
            &-position {
                color: var(--our-team-teammates-card-description-position-fontColor);
                margin-top: var(--our-team-teammates-card-description-position-marginTop);
            }
        }
        &-socials-container {
            display: flex;
            max-width: fit-content;
            margin: 0 auto;
            column-gap: var(--our-team-teammates-card-socials-container-colGap);

            &-link {
                width: var(--our-team-teammates-card-social-link-wh);
                height: var(--our-team-teammates-card-social-link-wh);
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border-radius: var(--our-team-teammates-card-social-link-borderRadius);
                transition-timing-function: var(--transition-timning-function);
                transition: background-color, var(--transition-time);

                & svg {
                    width: var(--our-team-teammates-card-social-link-svg-wh);
                    height: var(--our-team-teammates-card-social-link-svg-wh);
                    
                    & use {
                        fill: var(--our-team-teammates-card-social-link-svg-fill);
                        transition-timing-function: var(--transition-timning-function);
                        transition: fill, var(--transition-time);
                    }
                }

                &:hover {
                    background-color: var(--our-team-teammates-card-social-link-svg-hover-bgColor);

                    & svg use {
                        fill: var(--our-team-teammates-card-social-link-svg-hover-fill);
                    }
                }
            }
        }
    }
}