.what-we-do {
    margin-top: var(--what-we-do-marginTop);

    &__heading {
        font-size: var(--what-we-do-heading-fontSize);
        font-weight: var(--what-we-do-heading-fontWeight);
        text-align: center;
    }

    &__gallery-images {
        margin-top: var(--what-we-do-gallery-marginTop);
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-image {
            display: block;
        }
    }

    &__card {
        position: relative;
       

        &-text {
            position: absolute;
            bottom: var(--what-we-do-card-text-bottom);
            color: var(--what-we-do-card-text-color);
            width: var(--what-we-do-card-text-width);
            height: var(--what-we-do-card-text-height);
            background-color: rgba($color: #000000, $alpha: 0.6); 
            text-align: center;
            padding-top: var(--what-we-do-card-text-paddingTop);
            font-size: var(--what-we-do-card-text-fontSize);
            font-weight: var(--what-we-do-card-text-fontWeight);
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
        }
    }
    
}