.what-we-do {
    margin-top: var(--what-we-do-marginTop);

    &__heading {
        font-size: var(--what-we-do-heading-fontSize);
        font-weight: var(--what-we-do-heading-fontWeight);
        text-align: center;
    }

    &__gallery-images {
        margin-top: var(--what-we-do-gallery-marginTop);
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-image {
            display: block;
        }
    }

    &__card {
        position: relative;
       

        &-text {
            position: absolute;
            bottom: 0;
            color: white;
            width: 100%;
            height: 70px;
            background-color: rgba($color: #000000, $alpha: 0.6); 
            text-align: center;
            padding-top: 25px;
            font-size: 14px;
            font-weight: bold;
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
        }
    }
    
}